@model IEnumerable<CodingAssignment.Spotify.ApiClient.Models.Track>

@{
    ViewBag.Title = "Recommended Tracks";
}

<h2>Recommended Tracks</h2>

<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Explicit)
    </th>
  </tr>

  @foreach (var item in Model)
  {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Explicit)
        </td>
      </tr>
  }

</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
